//
//  ImageUtilitiesVersion.xcconfig
//  ImageUtilities
//
//  Created by Ingemar Bergmark on 2025-03-10
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CURRENT_PROJECT_VERSION = 10
MARKETING_VERSION = 25

DYLIB_COMPATIBILITY_VERSION = 21
DYLIB_CURRENT_VERSION = 25.10
